
@{
    ViewBag.Title = "ItemForm";
}

<h2>ItemForm</h2>

<form action="../Shop/SaveNewItem" method="post"></form>
<input type="text" name="Name" placeholder="Name:" />
<input type="text" name="Description" placeholder="Description" />
<input type="number" name="Quantity" placeholder="Quantity" />
<input type="text" name="Price" placeholder="Price"/>