
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/Home/SummaryPage"method="get">
    FirstName <Input type="text" name="FirstName" />
    LastName <Input type="text" name="LastName" />
    Email <Input type="email" email="Email" />
    PhoneNumber <Input type="tel" phone="PhoneNumber" />
    Password <input type="password" password="Password" />
    <input type="submit" value="Submit" />

</form>